@model Petrolheads.Web.ViewModels.Administration.ManagePosts.ManageAllPostsViewModel
@{
    this.ViewData["Title"] = "Manage Posts";
}

<h1>Posts</h1>

<div class="container">
    <div class="row col-md-12 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Description</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>@post.Id</td>
                    <td>@post.UserUserName</td>
                    <td>@post.Description</td>
                    <td class="text-center">
                        <a asp-area="Administration" asp-controller="ManagePosts" asp-action="EditPost" asp-route-postId="@post.Id" asp-route-userId="@post.UserId" class='btn btn-info btn-xs'>
                            <span class="glyphicon glyphicon-edit"></span>
                             Edit
                        </a>
                        <a asp-area="Administration" asp-controller="ManagePosts" asp-action="DeletePost" asp-route-postId="@post.Id" onclick="return confirm('Are you sure you want to delete this post?')" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                             Del
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
