@model Petrolheads.Web.ViewModels.Administration.ManageCars.ManageAllCarsViewModel
@{
    this.ViewData["Title"] = "Manage Cars";
}

<h1>Cars</h1>

<div class="container">
    <div class="row col-md-12 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Car Main Image</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>User</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            @foreach (var car in Model.Cars)
            {
                <tr>
                    <td><img src="@car.MainImageUrl" class="car-main-image-small" alt="car-image"></td>
                    <td>@car.MakeName</td>
                    <td>@car.Model</td>
                    <td>@car.UserUserName</td>
                    <td class="text-center">
                        <a asp-area="Administration" asp-controller="ManageCars" asp-action="EditCar" asp-route-carId="@car.Id" class='btn btn-info btn-xs'>
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit
                        </a>
                        <a asp-area="Administration" asp-controller="ManageCars" asp-action="RemoveCar" asp-route-carId="@car.Id" onclick="return confirm('Are you sure you want to delete this car?')" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                            Del
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
