@model Petrolheads.Web.ViewModels.Profiles.ProfileCarsViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://res.cloudinary.com/dnzfktppn/image/upload/v1587670163/cover-image_z1hzzt.png" alt="Profile cover image" />
        <img align="left" class="fb-image-profile thumbnail" src="https://res.cloudinary.com/dnzfktppn/image/upload/c_scale,w_300/v1587669032/profile-pic_qfrn8z.png" alt="Profile image" />
        <div class="fb-profile-text align-content-center row">
            <h1 class="col-7 col-sm-8">@Model.UserName</h1>
            @if (!this.Model.IsProfileOwner)
            {
                <form id="followsForm" method="post"></form>
                <span class="btn @Model.FollowButtonColorClass col-5 col-sm-4 m-0 align-self-center" id="follow-button" onclick="follow('@Model.Id')">@Model.FollowButtonText</span>
            }
        </div>
    </div>

    <div class="container">
        <nav class="nav nav-pills nav-fill mb-3 mt-4 nav-menu">
            <a class="nav-item nav-link active mx-1" asp-controller="Profiles" asp-action="Cars" asp-route-userId="@Model.Id">Cars</a>
            <a class="nav-item nav-link mx-1" asp-controller="Profiles" asp-action="Posts" asp-route-userId="@Model.Id">Posts</a>
            @if (Model.IsProfileOwner)
            {
                <a class="nav-item nav-link mx-1" asp-controller="Profiles" asp-action="Followed" asp-route-userId="@Model.Id">Followed</a>
            }
        </nav>
    </div>

    <hr>

    <div class="container-fluid d-flex flex-wrap">
        @if (Model.IsProfileOwner)
        {
            <a class="btn btn-dark btn-lg btn-block" asp-controller="Cars" asp-action="Create">Add Car</a>
        }
        
        @foreach (var car in Model.Cars)
        {
                <div class="container border border-primary m-1">
                    <div class="row align-items-end">
                        <div class="col-md-5 col-lg-4 p-0">
                            <img src="@car.MainImageUrl" alt="car-image" class="car-main-image">
                        </div>
                        <div class="col-md-4 col-lg-5 p-0">
                            <h2 class="">@car.MakeName @car.Model</h2>
                            <p class="">Added on @car.CreatedOn</p>
                        </div>
                        <div class="col-md-3 p-1">
                            <a class="btn btn-block btn-primary" asp-controller="Cars" asp-action="Details" asp-route-carId="@car.Id">Details</a>
                            @if (Model.IsProfileOwner)
                            {
                                <a class="btn btn-block btn-danger" asp-controller="Cars" asp-action="Delete" asp-route-carId="@car.Id">Remove Car</a>
                            }
                        </div>
                    </div>
                </div>
        }
    </div>
</div>


