@model Petrolheads.Web.ViewModels.Profiles.ProfileCarsViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://res.cloudinary.com/dnzfktppn/image/upload/v1587670163/cover-image_z1hzzt.png" alt="Profile cover image" />
        <img align="left" class="fb-image-profile thumbnail" src="https://res.cloudinary.com/dnzfktppn/image/upload/c_scale,w_300/v1587669032/profile-pic_qfrn8z.png" alt="Profile image" />
        <div class="fb-profile-text">
            <h1>@Model.UserName</h1>
        </div>
    </div>

    <div class="container">
        <nav class="nav nav-pills nav-fill mb-3 nav-menu">
            <a class="nav-item nav-link active mx-1" asp-controller="Profiles" asp-action="Cars" asp-route-userId="@Model.Id">Cars</a>
            <a class="nav-item nav-link mx-1" asp-controller="Profiles" asp-action="Posts" asp-route-userId="@Model.Id">Posts</a>
            <a class="nav-item nav-link mx-1" asp-controller="Follower" asp-action="All" asp-route-userId="@Model.Id">Followers</a>
        </nav>
    </div>

    <hr>

    <div class="container-fluid d-flex flex-wrap">
        @if (Model.IsProfileOwner)
        {
            <a class="btn btn-dark btn-lg btn-block" asp-controller="Cars" asp-action="Create">Add Car</a>
        }
        
        @foreach (var car in Model.Cars)
        {
            <a class="w-100" asp-controller="Cars" asp-action="Details" asp-route-carId="@car.Id">
                <div class="d-flex flex-wrap border border-info m-1">
                    <img src="@car.MainImageUrl" alt="car-image" class="img-thumbnail car-main-image">
                    <div class="d-inline-block align-self-end">
                        <h2 class="">@car.Model</h2>
                        <p class="">Added on @car.CreatedOn</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


